@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    border: 1px solid black;
    padding: 30px;
    width: 400px;
}

.container .inputCidade{
    padding: 5px;
}

.container button{
    border: none;
    outline: none;
    padding: 10px;
    background-color: #7c7c7c2b;
    float: right;
    cursor: pointer;
    margin-left: 5px;
    height: 35px;
} 

button:hover {
    background-color: #7c7c7c6b;
}

.container button .btnLupa{
    height: 20px;
}

.divTempo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.tempoCidade, .temperatura, .umidade, .estado{
    margin-top: 10px;
}

.estado{
    text-transform: capitalize;
}



